PORT=4001
NODE_ENV=test

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5433
POSTGRES_USER=b2b_user
POSTGRES_PASSWORD=b2b_pass
POSTGRES_DB=b2b_inventory_test

REDIS_HOST=127.0.0.1
REDIS_PORT=6380

JWT_ACCESS_SECRET=test-access-secret
JWT_REFRESH_SECRET=test-refresh-secret
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d

CORS_ORIGINS=http://localhost:4200

STORAGE_DRIVER=local
LOCAL_STORAGE_PATH=uploads/test

